body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

/* hero session start  */

.portfolio1-hero-maindiv {
    margin-top: 100px !important;
    background-color: #248B970D !important;
    height: 425px !important;
    width: auto !important;
    position: relative !important;
}

.portfolio1-hero-heading {
    padding-top: 50px !important;
    text-align: center !important;
    font-size: 56px;
    font-weight: 600;
    line-height: 70.39px;
    text-align: center;
}

.portfolio1-hero-heading-span {
    color: #2CA068 !important;

}

.portfolio1-hero-img-div {
    border: none !important;
    padding-top: 80px !important;
}

.portfolio1-hero-img-div img {
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
    padding: 20px !important;
    box-shadow: 0px 0px 4px 0px #00000040 !important;

}

.portfolio-mobile-hero {
    display: none !important;

}

@media (max-width:768px) {
    .portfolio-mobile-hero {
        display: block !important;

    }

    .portfolio-mobile-hero-div {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .portfolio-web-hero {
        display: none !important;
    }

    .portfolio1-hero-heading {
        font-size: 36px;
        font-weight: 700;
        line-height: 45.25px;
        text-align: center;

    }
}

/* hero session end  */


/* overview start  */

.overview-maindiv {
    margin-top: 350px !important;
}

.overview-header {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
}

.overview-header span {
    color: #2CA068 !important;
}

.overview-discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968 !important;

}

.overview-sub-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-align: left;
    margin-top: 10px !important;

}

.overview-sub-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968 !important;
}

@media (max-width:768px) {
    .overview-maindiv {
        margin-top: 220px !important;
    }

    .overview-header {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;


    }

    .overview-discription {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;


    }

    .overview-sub-heading {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.11px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;



    }

    .overview-sub-para {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding: 10px !important;
        margin-top: -10px !important;


    }
}

/* overview end  */

/* challenges start  */
.challenges-maindiv {
    margin-top: 100px !important;
}

.challenges-header {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    margin-bottom: 20px !important;

}

.challenges-header span {
    color: #2CA068 !important;
}

.challenges-discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968;
}

.challenges-web {
    margin-top: 120px !important;
    margin-left: 120px !important;
}

.challenges-mobile {
    display: none !important;
}

@media (max-width:768px) {
    .challenges-maindiv {
        margin-top: 50px !important;
    }

    .challenges-header {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;

    }

    .challenges-discription {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .challenges-mobile {
        display: block !important;
        text-align: center;
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        margin-bottom: 30px !important;
    }

    .challenges-web {
        display: none !important;
    }
}

/* challenges end  */


/* webportal start */
.webapp_section_8_layout {
    width: 100%;
    height: auto;
    background: linear-gradient(105.88deg, #2CA068 1.21%, #23899C 95.23%);
    position: relative;
    margin-top: 108px !important;
}

.webapp_section_8_inner_layout {
    width: 100%;
    height: 773px;
    margin-left: 38px;
    gap: 0px;
    border: 1px;
    opacity: 0px;
    position: absolute;
}

.webapp_section_8_topellipse {
    width: 111px;
    height: 111px;
    margin-top: 46px;
    margin-left: -50px !important;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.webapp_section_8_ellipse207 {
    width: 85px;
    height: 85px;
    margin-top: 585px;
    margin-left: -20px;
    gap: 0px;
    border: 1px;
    opacity: 0px;
    position: absolute;
}

.webapp_section_8_ellipse206 {
    width: 115px;
    height: 115px;
    margin-top: 550px;
    margin-left: 360px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.webapp_section_8_ellipse204 {
    height: 77px;
    width: 77px;
    margin-left: 650px;
    margin-bottom: -420px !important;
}

.webapp_section_8_ellipse205 {
    height: 51px;
    width: 51px;
    margin-left: 700px;
    margin-bottom: -300px !important;
}

.webapp_section_8_ellipse203 {
    height: 187px;
    width: 187px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-left: 1040px; */

}

.webapp_section_8_shape_image {
    height: 215px;
    width: 214px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -50px;
}

.webapp_section_8_gridimage {
    width: 214px;
    height: 215px;
    margin-top: 46px;
    margin-left: 1188px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.webapp_section_8_mainheading {
    padding-top: 40px;
}

.webapp_section_8_webdev {
    font-size: 48px;
    font-weight: 700;
    line-height: 60.34px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    position: relative;
}

.webapp_section_8_webdevbenefits::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 50px;
    height: 4px;
    border-radius: 8px;
    background-color: #ffffff !important;
}

.webapp_section_8_rectangle_line {
    display: none;
}

.webapp_section_8_webdevbenefits {
    font-size: 48px;
    font-weight: 700;
    line-height: 60.34px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.webapp_section_8_center {
    height: 541px;
    width: 350px;
    gap: 0px;
}

.webapp_section_8_center1 {
    display: none;
}

.webapp_section_8_right {
    margin-top: 30px;
    /* gap: 32px; */
}

.webapp_section_8_para {
    margin-top: 20px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    color: #FFFFFF;
}

.webapp_section_8_image {
    /* height: auto;
    width: 100%; */
    margin-top: 80px !important;
    gap: 0px;
    opacity: 0px;
}

.leftsidefirstcol {
    width: auto;
    gap: 8px;
    opacity: 0px;
}

.webapp_section_8_leftsidepara {
    margin-bottom: 30px !important;
}

.leftsidesecondcol {
    width: auto;
    gap: 8px;
    opacity: 0px;
}

.leftsidesecondcol2 {
    padding-top: 120px !important;

}

.leftsidethirdcol {
    width: auto;
    gap: 8px;
    opacity: 0px;
}

.webapp_section_8_leftsideheading {
    gap: 0px;
    opacity: 0px;
    font-size: 16px !important;
    font-weight: 600;
    text-align: left;
    display: inline-flex;
    margin-left: 7px;
    color: rgba(255, 255, 255, 1);
}

.webapp_section_8_leftsideimage {
    margin-bottom: 5px;
}

.webapp_section_8_leftsidepara {
    margin-top: -15px;
    margin-left: 29px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px !important;
    font-weight: 400;
    text-align: left;
    color: rgba(233, 233, 233, 1);
}

@media (max-width: 768px) {
    .webapp_section_8_layout {
        margin-top: 100px !important;
    }

    .webapp_section_8_layout .webapp_section_8_topellipse,
    .webapp_section_8_layout .webapp_section_8_ellipse207,
    .webapp_section_8_layout .webapp_section_8_ellipse206,
    .webapp_section_8_layout .webapp_section_8_ellipse203,
    .webapp_section_8_layout .webapp_section_8_ellipse204,
    .webapp_section_8_layout .webapp_section_8_ellipse205,
    .webapp_section_8_layout .webapp_section_8_shape_image {
        display: none;
    }

    .webapp_section_8_center {
        display: none;
    }

    .webapp_section_8_center1 {
        display: block;
    }

    .webapp_section_8_layout .webapp_section_8_webdev {
        font-size: 31px !important;
        font-weight: 600 !important;
        line-height: 40px !important;
        text-align: left;

    }

    .webapp_section_8_layout .webapp_section_8_webdevbenefits {
        font-size: 31px !important;
        font-weight: 600 !important;
        line-height: 40px !important;
        text-align: left;
    }



    .webapp_section_8_webdevbenefits::after {
        width: 0px;
    }


    .webapp_section_8_rectangle_line {
        display: inline;
        width: 28px;
    }

    .webapp_section_8_layout .webapp_section_8_image {
        display: none;
    }

    .webapp_section_8_image1 {
        display: block;
        height: auto;
        width: 100%;
        /* padding: 30px !important; */
    }

    .webapp_section_8_right {
        margin-top: 0px;
    }

    .webapp_section_8_leftsideheading {
        font-size: 16px !important;

    }

    .webapp_section_8_leftsideimage {
        margin-bottom: 5px;
    }

    .webapp_section_8_leftsidepara {
        font-size: 14px !important;
    }

    .leftsidesecondcol2 {
        padding-top: 0px !important;

    }
}



/* web portal end */

/* mobileapp start  */
.mobileapp-maindiv {
    margin-top: 100px !important;
}

.mobileapp-heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    margin-bottom: 20px !important;

}

.mobileapp-heading span {
    color: #2CA068 !important;
}

.mobileapp-header {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    text-align: left;
    color: #676968 !important;

}

.mobileapp-col-box {
    margin-top: 40px !important;
    padding: 10px !important;

}

.mobileapp-col-box:hover {
    box-shadow: 4px 4px 20px 2px #A0A0A040 !important;
    border-radius: 12px !important;
    cursor: pointer !important;
}

.mobileapp-subheader {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.14px;
    text-align: left;

}

.mobileapp-discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968 !important;

}

.mobileapp-mobile {
    display: none !important;
}

@media (max-width:768px) {
    .mobileapp-heading {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;

    }

    .mobileapp-header {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;

    }

    .mobileapp-subheader {
        font-size: 18px;
        font-weight: 600;
        line-height: 22.63px;
        text-align: left;

    }

    .mobileapp-discription {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

    }

    .mobileapp-col-box {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .mobileapp-web {
        display: none !important;
    }

    .mobileapp-mobile {
        display: block !important;
    }


}

/* mobile app end  */

/* features start  */
.features-maindiv {
    margin-top: 100px !important;
    padding: 0 20px;
    /* Add some padding to ensure content is not too close to the edges */
}

.features-header {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    margin-bottom: 40px !important;
}

.features-header span {
    color: #2CA068;
}

.features-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #676968 !important;
    margin-top: 10px !important;
    margin-left: 60px !important;
    display: flex;
    align-items: center;
}

.features-para span {
    margin-right: 15px !important;
}

.features-para img {
    width: 20px;
    /* Adjust the size of the tick icon */
    height: 20px;
}

@media (max-width: 768px) {
    .features-header {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .features-para {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin-left: 0px !important;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    .features-para span {
        margin-right: 10px !important;
    }
}


/* features end  */

/* technology start  */
.technology-maindiv {
    background: #23899C14;

}

.technology-section {
    padding: 40px 0;
    margin-top: 100px !important;
}

.technology-title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;

}

.technology-title span {
    color: #2CA068;
}

.technology-scroll {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.technology-scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.technology-card {
    display: inline-block;
    padding: 20px;
    border: 1px solid #e0dfdf;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    width: auto;
    margin-bottom: 30px;
}

.technology-card img {

    margin-bottom: 10px;
}

.technology-card h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.14px;
    text-align: center;
    color: #676968;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .technology-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;

    }

    .technology-card h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.11px;

    }
}

/* technology end  */



/* solution start  */
.solution-section {
    /* padding: 40px 0; */
    margin-top: 100px !important;
}

.solution-section h2 {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;

}

.solution-section h2 span {
    color: #2CA068;
}

.solution-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    color: #676968 !important;
    margin-bottom: 30px !important;


}

.solution-sectionrow1 {
    margin-left: 40px !important;
}

.solution-sectionrow2 {
    margin-top: 20px !important;
    margin-left: 40px !important;


}

.solution-card {
    padding: 20px;
    border: 0.3px solid #00000045 !important;
    border-radius: 12px;
    height: 100%;
}

.solution-card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.14px;
    text-align: left;

}

.solution-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #414042 !important;

}

@media (max-width: 768px) {
    .solution-section h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;

    }

    .solution-sectionrow1 {
        margin-left: 0px !important;
        margin-right: 0px !important;


    }

    .solution-sectionrow2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;



    }

    .solution-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.6px;
        text-align: left;

    }

    .solution-card {
        padding: 20px !important;
    }

    .solution-card h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22.63px;
        text-align: left;

    }

    .solution-card p {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

    }
}

/* solution end  */

/* app screen start  */
.app-container {
    margin-top: 100px !important;
}

.app-header {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    margin-bottom: 50px !important;

}

.app-header span {
    color: #2CA068;
}

.app-screen {
    background: #A1B7DF14;
    border-radius: 30px !important;
    padding: 20px !important;
}

.app-row2 {
    background: #A1B7DF14;
    border-radius: 30px !important;
    padding: 40px !important;
    margin-top: 80px !important;

}

@media (max-width: 768px) {
    .app-header {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;

    }

    .app-screen {

        padding: 10px !important;
    }

    .app-row1 {
        gap: 20px !important;
    }

}


/* app screen end  */

/* case studies start  */

.img-cover {
    object-fit: cover;
    border-radius: 10px;

}

.nodejs-case-studies-maindiv {
    margin-top: 100px;
    width: 100%;
}

.nodejs-case-studies-subdiv {
    border-radius: 20px !important;
    box-shadow: 0px 0px 4px 0px #00000040 !important;

}

.nodejs-case-studies-maindiv h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    margin-bottom: 20px;
}

.nodejs-case-studies-maindiv h1 span {
    color: #2CA068;
}

.nodejs-case-studies-maindiv h1::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: #2CA068;
    margin-left: 10px;
    vertical-align: middle;
}

.nodejs-case-studies-maindiv h2 {
    font-size: 17px;
    font-weight: 600;
    line-height: 22.63px;
    text-align: left;
    margin-top: 20px;
    padding-left: 10px !important;
}

.nodejs-case-studies-maindiv h5 {
    font-size: 13.5px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968;
    margin-top: 10px;
    padding-left: 10px !important;

}

.nodejs-case-studies-maindiv p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    color: #2CA068;
    margin-top: 10px;
    padding-left: 10px !important;
    padding-bottom: 10px !important;

}

.nodejs-case-studies-maindiv button {
    width: 170px;
    height: 42px;
    border: none;
    background: linear-gradient(90deg, #23899C 6.25%, #2CA068 100%);
    box-shadow: 4px 4px 8px 0px #00000040;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.63px;
    text-align: center;
    border-radius: 8px;
    gap: 10px;
    margin-top: 20px;
}

.portfolio1-ourcase-mobile-container {
    display: none !important;
}

@media (max-width: 768px) {
    .nodejs-case-studies-maindiv {
        display: none !important;
    }

    /* our case mobile start  */

    .portfolio1-ourcase-mobile-container {
        text-align: center;
        padding: 20px;
        margin-top: 100px !important;
        display: block !important;
    }

    .portfolio1-ourcase-mobile-title {
        text-align: left !important;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: center;
        margin-bottom: 20px !important;


    }

    .portfolio1-ourcase-mobile-title span {
        color: #2CA068 !important;
    }

    .portfolio1-ourcase-mobile-slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .portfolio1-ourcase-mobile-slide {
        display: none;
        text-align: left;



    }

    .portfolio1-ourcase-mobile-slider {
        border-radius: 20px !important;
        box-shadow: 0px 0px 4px 0px #00000040 !important;
        height: 420px !important;
    }


    .portfolio1-ourcase-mobile-slide.active {
        display: block;
    }

    .portfolio1-ourcase-mobile-image {
        width: 100%;
        border-radius: 8px;
    }

    .portfolio1-ourcase-mobile-content {
        padding: 15px;
    }

    .portfolio1-ourcase-mobile-heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 22.63px;
        text-align: left;

        margin: 10px 0;
    }

    .portfolio1-ourcase-mobile-description {
        color: #676968 !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

    }

    .portfolio1-ourcase-mobile-readmore {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.11px;
        text-align: center;
        color: #2CA068 !important;
        text-decoration: none;
    }

    .portfolio1-ourcase-mobile-dots {
        margin: 20px 0;
        text-align: center !important;
    }

    .portfolio1-ourcase-mobile-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
    }

    .portfolio1-ourcase-mobile-dot.active {
        background-color: #28a745;
    }

    .portfolio1-ourcase-mobile-explore-more {
        margin-top: 20px;
    }

    .portfolio1-ourcase-mobile-container button {
        width: 170px !important;
        height: 42px !important;
        border: none !important;
        background: linear-gradient(90deg, #23899C 6.25%, #2CA068 100%) !important;
        box-shadow: 4px 4px 8px 0px #00000040 !important;
        color: #FFFFFF !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 22.63px !important;
        text-align: center !important;
        border-radius: 8px !important;
        gap: 10px !important;
        margin-top: 20px !important;

    }
}

/* our case mobile end  */
/* faq start  */

.section13layout {
    width: 100%;
    margin-top: 100px !important;
    margin-bottom: 100px !important;

}

.section13header {
    width: 100%;
}

.section13heading::after {
    content: '';
    position: absolute;
    margin-left: -50px !important;
    margin-top: 30px !important;
    width: 54px !important;
    height: 3px;
    border-radius: 12px;
    background-color: #2CA068 !important;
}

.section13heading {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.34px;
    text-align: left;
    color: #000000;
}

.section13heading span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.34px;
    text-align: center;
    color: #2CA068;
}

.section13heading img {
    width: 54px;
    height: 3px;
    gap: 0px;
    border-radius: 50px;
}

.accordion {
    overflow: hidden;
    margin-top: 30px;
}

.accordion-header span {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    color: #676968;
}


.accordion-item {
    margin-bottom: 10px !important;
    border: none !important;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.accordion-item-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #676968 !important;
}

.accordion-header.active {
    background-color: #2CA068;
    color: white
}

.accordion-header.active span {
    color: white;
}

.accordion-header.active .accordion-header {
    color: white;
}

.accordion-header.active .accordion-toggle .arrow {
    border-color: white;
}


.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #E8E7E7;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.accordion-header:hover {
    border-color: #2CA068;

}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #676968;
    border-width: 0 2px 2px 0;
}

.accordion-content {
    padding: 10px;
    display: none;
    color: #676968 !important;
}

.accordion-content span {
    font-size: 14px;
    font-weight: 600;

    /* color: #000000 !important; */
}

.accordion-content li::marker {
    color: #2CA068 !important;
}

.accordion-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 728px) {
    .section13layout {
        width: 100%;
        margin-top: 50px !important;

    }

    .accordion-item {
        margin-bottom: 10px !important;
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .section13header {
        width: 100%;
    }

    .section13heading {
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
    }

    .section13heading span {
        font-size: 32px;
        font-weight: 600;
        line-height: 40.22px;
        text-align: left;
    }

    .accordion-content {
        font-size: 14px;
        color: #676968;
    }

    .section13heading img {
        width: 28px;
        height: 3px;
        gap: 0px;
        border-radius: 50px;
    }

    .accordion {
        border: none;
        overflow: hidden;
        margin-top: 30px;
    }

    .accordion-header span {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.6px;
        text-align: left;
    }

    .section13heading::after {
        display: none !important;
    }
}

/* faq end  */

/* --------------- Form ----------------*/
.form-background {
    margin: 0;
    padding: 0;
    background: url('./portfolio1images/session11bg.png') no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 95px;
    height: 100hv;
    width: 100%;
}

.form-body {
    width: 100% !important;
}


.form-head {
    position: relative;
    font-size: 48px;
    margin-bottom: 100px;
    font-weight: 700;
    line-height: 60.34px;
    /* text-align: left; */
}

.about-session__profile {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.about-session__profile-name {
    color: #676968;
}

.about-session__profile-dob {
    text-align: right;
    /* Align the text to the right */
    color: #676968;
}

.form-touch {
    color: #2CA068;
}

.form-head::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 50px;
    height: 4px;
    border-radius: 12px;
    background-color: #2CA068;
}

.form-top {
    font-size: 24px;
    margin-bottom: 30px;
}

.form-paragraph {
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
    color: #676968;
}

.form-point {
    font-size: 16px;
    color: #676968;
}

.formprofile {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    margin-top: -10px;
}

.custom-list {
    margin-bottom: 30px;
}

.custom-list li::marker {
    color: #2CA068;
}

.custom-list li {
    color: #676968;
}

.profile-name-row .profile-name-column {
    margin-left: -20px;
}

.profile-name-row .profile-name-column .profilename {
    color: #000000;
    font-weight: 500;
    margin-bottom: -10px;
}

.profile-name-row .profile-name-column .profiletext {
    width: fit-content;
    color: #676968;
}

.profile-name-row .profile-name-column .profiletext2 {
    color: #676968;
}

.dotimage {
    margin-left: -30px;
}

.circleimage {
    position: absolute;
    z-index: -10;
    padding-left: 390px;
    margin-top: -450px;
}

.form-content2 {
    margin-top: 50px !important;
    padding-left: 80px !important;
    width: 100%;
}

.form-container {
    background-color: #ffffff;
    padding-top: 20px;
    width: 450px;
    height: auto;
    left: 10px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    color: #676968;
}

.form-text {
    font-size: 24px;
}

.form-line {
    border-bottom: 3px solid #2CA068 !important;
    border-radius: 12px;
    width: 90px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.form-star {
    color: red;
}

textarea {
    border: #2CA068;
    height: 150px;
    resize: none !important;
}

.form-button {
    background: linear-gradient(93.27deg, #23899c -14.73%, #2ca068 104.65%);
    width: 414px;
    height: 42px;
    border-radius: 12px;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px !important;
}

.arrowimage {
    margin-left: 610px;
}

.form-control:focus {
    border-color: #2CA068 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none;
}

@media (max-width: 768px) {

    /*--------- Form -------------------*/
    .form-background {
        background: linear-gradient(179.79deg, rgba(44, 160, 104, 0.15) 0.17%, rgba(35, 137, 156, 0.0945) 99.8%);
    }

    .form-body {
        width: 100% !important;
    }

    .form-head {
        margin-top: -20px;
        margin-bottom: -1px;
        font-size: 32px;
    }

    .form-container .form-text {
        font-size: 24px;
    }

    .form-head::after {
        content: '';
        padding-left: 5px;
        width: 28px;
        height: 3px;
        top: 50%;
        background-color: #2ca068;
        border-radius: 4px;
    }

    .form-top {
        font-size: 20px;
        margin-bottom: -1px;
        margin-bottom: 20px;
    }

    .form-container .form-content .form-paragraph {
        font-size: 14px !important;
        width: auto;
        line-height: 22px;
        width: 100%;
        background-color: #2CA068;
    }

    .form-point {
        font-size: 14px !important;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .formprofile {
        height: 54px;
        width: 54px;
        border-radius: 50%;
    }

    .profilename {
        font-size: 18px;
    }

    .profiletext {
        font-size: 14px;
    }

    .profiletext2 {
        font-size: 14px;
    }

    .profile-name-row {
        width: 100%;
    }

    .profile-name-row .profile-name-column {
        margin-left: -0px;
    }

    .profile-name-row .profile-name-column .profilename {
        padding-left: 80px;
        margin-top: -50px;
    }

    .profile-name-row .profile-name-column .profiletext {
        color: #676968;
        margin-top: -20px;
        padding-left: 80px;
    }

    .profile-name-row .profile-name-column .profiletext2 {
        color: #676968;
        margin-top: -10px;
        margin-top: -20px;
    }

    .circleimage {
        display: none;
    }

    .dotimage {
        display: none;
    }

    .form-content2 {
        margin-top: -20px !important;
        padding-left: 15px !important;
        margin-right: -20px;
        /* background-color: #2CA068; */
    }

    .form-container {
        width: 100%;
        margin-top: 30px;
        padding: 30px;
        margin-bottom: -30px;
    }

    .arrowimage {
        display: none;
    }

    .form-button {
        margin-top: 0px !important;
        width: 100%;
    }
}

/* -------------------Footer ---------------------*/
.footer {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 50px;
}

.footer h3 {
    color: #000000;
    margin-bottom: 15px;
    margin-top: 0;
    cursor: pointer;
}

.footer-menu {
    padding-left: 0;
    list-style-type: none;
    display: none;
}

.footer-menu.active {
    display: block;
}

.footer-menu li {
    color: #676968;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-menu li:hover,
.footer h3:hover {
    color: #000000;
    font-weight: 500;
}

.footer-border {
    height: 1px;
    background-color: #eeeeee;
    margin: 20px 0;
}

.footer-text3 {
    display: flex;
}

.footer .icon {
    height: 32px;
    width: 32px;
    background-color: #f3f3f3;
    border-radius: 50%;
    color: #414042;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icon:hover {
    color: #000000;
}

.footer-text1,
.footer-text2 {
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    color: #706E72;
    margin-top: 5px !important;


}

.footer-text1 {
    margin-top: 6px !important;
}

.footer-text1 a {
    text-decoration: underline !important;
    text-underline-offset: 5px !important;

}

.footer-text3 {
    margin-top: -5px !important;

}

.footer-menu {
    display: block;
}

#footer-head i {
    display: none;
}

.footer-line {
    display: none;
}

.footer-services li {
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.copysymbol {
    font-size: 20px;
    padding-right: 5px;

}

.copysymbol_text {
    margin-top: -100px;
}

.footer-bottom-content {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .copysymbol {
        margin-top: 20px;
        font-size: 20px;
        padding-right: 2px;
    }

    .footer h3 {
        font-size: 16px;
        margin-bottom: 0;
        color: #676968;
    }

    .footer-menu li {
        font-size: 14px;
    }

    .footer-menu li:hover,
    .footer h3:hover {
        color: #000000 !important;
        font-weight: 500 !important;
    }

    .footer-border {
        display: none;
    }

    .footer .container .row {
        flex-direction: column;
    }

    .footer-menu {
        display: none;
    }

    .footer-menu.active {
        display: block;
    }

    .footer-line {
        display: block;
    }

    #footer-head i {
        display: inline;
    }

    .footer-bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text1 {
        font-size: 13px;
        font-weight: 400;
        line-height: 20.11px;
        /* text-align: left; */
        padding-bottom: 10px !important;
        /* display: flex;
      flex-direction: column;
      align-items: center; */
        text-align: center !important;
    }

    .footer-text1 a {
        text-decoration: underline !important;
        text-underline-offset: 4px !important;

    }

    .footer-text2 {
        margin-top: 15px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.08px;
        text-align: center;


    }

    .footer-text3 {
        padding-bottom: 10px !important;
    }
}
